* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.4px;
}

.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

#navbar__logo {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}


.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #fff;
  color: #000;
}

.button:hover {
  background: #7B26D5;
  color: #fff;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #7B26D5;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      width: 100%;
      z-index: 1;
      max-width: 1300px;
      padding: 0;
  }
  
  #navbar__logo {
      padding-left: 25px;
  }
  
  .navbar__menu {
      display: grid;
      grid-template-columns: auto;
      margin:0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      height: 50vh;
      z-index: -1;
  }

  .navbar__menu.active {
      background: #131313;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 50vh;
      font-size: 1.6rem;
  }

  .navbar__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: #fff;
  }

  .navbar__item {
      width: 100%;
  }

  .navbar__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
  }

  .navbar__btn {
      padding-bottom: 2rem;
  }

  .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 80px;
      margin: 0;
  }

  .navbar__toggle .bar {
      display: block;
      cursor: pointer;
  }

  #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
  }

  #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }
}



/* Mobile responsive */
@media screen and (max-width: 768px) {
  .main__container {
      display: grid;
      grid-template-columns: auto;
      align-items: center;
      justify-self: center;
      width: 100%;
      margin: 0 auto;
      height: 90vh;
  }

  .main__content {
      text-align: center;
      margin-bottom: 4rem;
  }

  .main-content h1 {
      font-size: 2.5rem;
      margin-top: 2rem;
  }

  .main__content p {
      margin-top: 1rem;
      font-size: 1.5rem;
  }

  @media screen and (max-width: 480px) {
      .main-content h1 {
          font-size: 2rem;
          margin-top: 3rem;
      }
  
      .main__content p {
          margin-top: 2rem;
          font-size: 1.5rem;
      }

      .main__btn {
          padding: 12px 36px;
          margin: 2.5rem 0;
      }
  }
}


body, html {
  font-family: 'Montserrat', sans-serif;
  background-color: #141414;
  padding: 0;
  margin: 0;
}

.container{
  margin: 0;
  top: 200px;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  background-color: rgb(13, 13, 14);
  border-radius: 9px;
  width: 400px;
  height: 500px;
  box-shadow: 1px 1px 108.8px 19.2px rgb(25,31,53);
}

.box h4 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #5c6bc0; 
  font-size: 18px;
  margin-top:94px;;
}

.box h4 span {
  color: #dfdeee;
  font-weight: lighter;
}

.box h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  color: #a1a4ad;
  letter-spacing: 1.5px;
  margin-top: -15px;
  margin-bottom: 70px;
}

.box input[type = "text"],.box input[type = "password"] {
  display: block;
  margin: 20px auto;
  background: rgb(13, 13, 14);
  border: 0;
  border-radius: 5px;
  padding: 14px 10px;
  width: 320px;
  outline: none;
  color: #d6d6d6;
      -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
  
}
::-webkit-input-placeholder {
  color: #565f79;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus {
  border: 1px solid #5900ac;
  
}

a{
  color: #5900ac;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

 label input[type = "checkbox"] {
  display: none; /* hide the default checkbox */
}



.btn1 {
  border:0;
  background: #5900ac;
  color: #dfdeee;
  border-radius: 100px;
  width: 340px;
  height: 49px;
  font-size: 16px;
  position: absolute;
  top: 79%;
  left: 8%;
  transition: 0.3s;
  cursor: pointer;
}

.btn1:hover {
  background: #5d33e6;
}

.rmb {
  position: absolute;
  margin-left: -24%;
  margin-top: 0px;
  color: #dfdeee;
  font-size: 13px;
}

.forgetpass {
  position: relative;
  float: right;
  right: 28px;
}

.dnthave{
    position: absolute;
    top: 92%;
    left: 24%;
}



.typcn {
  position: absolute;
  left: 339px;
  top: 282px;
  color: #3b476b;
  font-size: 22px;
  cursor: pointer;
}      

.typcn.active {
  color: #7f60eb;
}

.error {
  background: #f50000;
  text-align: center;
  width: 337px;
  height: 20px;
  padding: 2px;
  border: 0;
  border-radius: 5px;
  margin: 10px auto 10px;
  position: absolute;
  top: 31%;
  left: 7.2%;
  color: white;
  display: none;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    top: 605px;
    width: 100%;
    color: #78797d;
    font-size: 14px;
    text-align: center;
}

.footer .fa {
  color: #7f5feb;;
}

/* Footer CSS */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer__container {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #ffffff;
}

.footer__container {
  background-color: #141414;
  text-align: center;
}

.website__rights {
  color: #fff;
}

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex; 
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background:rgb(13, 13, 14);
  }
  